@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

a {
  color: white;
}

.avatar {
  width: 150px;
  border-radius: 50%;
  cursor: pointer;
}
