@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

a {
  color: white;
}

.avatar {
  width: 100px;
  border-radius: 50%;
  cursor: pointer;
}

.main-avatar {
  cursor: pointer;
  width: 120px;
  margin-top: 60px;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  z-index: 1001;
  width: 100px;
  left: 1%;
  top: 1%;
}

@media screen and (max-width: 768px) {
  .logo {
    left: 70%;
  }
}
