.dashboard {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.logout-link {
  color: white;
  cursor: pointer;
}

.dash-section {
  background: white;
}

nav {
  width: 15%;
  height: 100%;
  background: #a486ff;
  position: fixed;
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    text-transform: uppercase;
    width: 100%;
    .name {
      color: white;
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 40px;
    }
    li {
      padding: 0 3rem;
      text-align: left;
      width: 100%;
      margin-bottom: 0.5rem;
      font-size: 1.2rem;
    }
    a {
      text-decoration: none;
    }
  }
}

.main {
  width: 60%;
  margin: auto;
  display: flex;
  position: relative;
  .mid-col {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem 0rem;
    .dash-user {
      color: black;
      font-size: 2rem;
    }
    .dash-title {
      margin-top: 20px;
      color: #4000ff;
      font-size: 2.5rem;
      letter-spacing: 3px;
    }
  }

  .right-col {
    right: 0;
    width: 15%;
    height: 100%;
    position: fixed;
    background: #a486ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      margin-top: 80px;
      margin-bottom: 20px;
      color: white;
    }
    .user-card {
      border-radius: 8px;
      display: flex;
      width: 80%;
      background: #4405ff;
      margin-bottom: 20px;
      align-items: center;
      gap: 10px;
      height: 80px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      .avatar {
        order: -1;
        justify-content: space-between;
        margin-left: 10px;
        width: 60px;
        border-radius: 50%;
        background: white;
      }
      .user-name {
        color: white;
        font-size: 1.1rem;
        font-weight: bold;
      }
    }
  }
}

p {
  color: white;
}
