.profile-main {
  width: 85%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem;
  background: var(--color-background-light);
  position: relative;
  height: 100%;
  display: flex;
  .profile-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    .top {
      //width: 85%; //* Alinear POSTS parte top
      //margin: auto; //* Alinear POSTS  parte top
    }
    .profile-title {
      margin-bottom: 10px;
      font-size: 2rem;
      color: var(--color-subtitle-light);
    }
    .info {
      display: flex;
      gap: 20px;
    }
    .flex {
      display: flex;
      flex-direction: column;

      h2 {
        color: var(--color-subtitle-light);
        font-size: 1.5rem;
      }
      h3 {
        margin-bottom: 10px;
        font-size: 1rem;
      }
    }
    p {
      color: black;
      text-decoration: underline;
      cursor: pointer;
    }

    h1 {
      font-size: 2.5rem;
      color: #4000ff;
      margin-top: 35px;
      margin-bottom: 15px;
    }
    .post-btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;
    }
    .avatar-btn {
      transform: scale(0.6);
    }
  }
}


.new-grid{
  
}
