.profile-section {
  width: 85%;
  height: 100%;
  min-height: 100vh;
  margin-left: auto;
  gap: 2rem;
  position: relative;
  padding: 1rem;
  background: var(--color-background-light);
}

.profile-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.top {
  margin-left: 25px;
}

.post-grid {
  height: 100%;
  width: 100%;
  gap: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  position: relative;
  place-items: center;
  padding: 1rem;
}

.profile-name {
  font-size: 2rem;
  color: var(--color-title-light);
  font-weight: normal;
}
.info {
  margin-top: 10px;
}
.info .line {
  color: var(--color-subtitle-light);
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 1.3rem;
  span {
    font-size: 1.1rem;
    color: var(--color-text-light);
  }
}
p {
  color: var(--color-text-light);
  text-decoration: underline;
  cursor: pointer;
}
.post-header {
  margin-top: 20px;
  color: var(--color-subtitle-light);
  font-size: 1.7rem;
  font-weight: bold;
}
.dash-header {
  //* Header from the dashboard page "RECENT POSTS"
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.post-btn {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .profile-section {
    width: 100%;
    padding: 3rem; //* padding for stetic and space for hamburger menu
  }
  .top {
    margin-left: 0;
  }
}
