:root {
  --color-base-hue: 200;
  --color-danger-hue-offset: 180;
  --color-danger-hue: calc(
    var(--color-base-hue) - var(--color-danger-hue-offset)
  );
  --color-background-dark: linear-gradient(
    hsla(var(--color-base-hue), 100%, 8%, 1),
    hsla(var(--color-base-hue), 100%, 16%, 1)
  );
  --color-background-light: rgba(234, 231, 243);
  --color-text-light: black;
  --color-text-dark: white;
  --color-sidebar-light: rgba(117, 155, 188, 0.9);
  --color-sidebar-dark: linear-gradient(
    hsla(var(--color-base-hue), 100%, 8%, 1),
    hsla(var(--color-base-hue), 100%, 6%, 1)
  );
  --color-sidebar-text-light: #ffffff;
  --color-selector-light: #4000ff;
  --color-title-light: #4000ff;
  --color-title-dark: #ffffff;
  --color-subtitle-light: #1356ff;
  --color-header-dark: hsla(var(--color-base-hue), 100%, 87%, 1);
  --color-card-light: white;
  --color-card-dark: linear-gradient(
    hsla(var(--color-base-hue), 100%, 8%, 1),
    hsla(var(--color-base-hue), 100%, 8%, 1)
  );
}

#dark .profile-section {
  background: var(--color-background-dark);
}

#dark .dash-section {
  background: var(--color-background-dark);
}

#dark .view-post-main {
  background: var(--color-background-dark);
}

#dark .main-title {
  color: var(--color-title-dark);
}
#dark .main-header {
  color: var(--color-header-dark);
}
#dark .subtitle {
  color: var(--color-header-dark);
}
#dark .text {
  color: var(--color-text-dark);
}

#dark .card {
  background: var(--color-card-dark);
}

#dark .user {
  color: hsla(var(--color-base-hue), 100%, 87%, 1);
}

#dark .card .title {
  color: var(--color-title-dark);
}

#dark .card .description {
  color: var(--color-text-dark);
}

#dark .card .location {
  color: var(--color-text-dark);
}

#dark .user-card {
  background: var(--color-card-dark);
}

#dark .card-user {
  color: var(--color-header-dark);
}

#dark .user-name {
  color: var(--color-text-dark);
}

#dark .post-main {
  background: var(--color-background-dark);
}
#dark input,
#dark textarea {
  color: var(--color-text-dark);
}

#dark .post-title {
  color: var(--color-header-dark);
}

#dark .input-group label {
  color: var(--color-header-dark);
}

#dark .image-container .icon {
  color: rgb(111, 128, 223);
}

#dark .image-container .img-info p {
  color: var(--color-text-dark);
}

#dark .post-main input {
  border: 2px solid var(--color-text-dark);
}
#dark .post-main textarea {
  border: 2px solid var(--color-text-dark);
}

#dark .image-container {
  border: 2px solid var(--color-text-dark);
  border-style: dotted;
}

#dark .view-post-main {
  background-color: var(--color-background-dark);
}

#dark .view-post-main .title-header {
  color: var(--color-header-dark);
}

#dark .view-post-main .right-col-view h2 {
  color: var(--color-header-dark);
}
#dark .view-post-main .right-col-view h3 {
  color: var(--color-text-dark);
}

#dark .avatar-modal {
  background: var(--color-card-dark);
}

#dark .modal-title {
  color: var(--color-header-dark);
}

#dark ul,
#dark .right-col {
  background: var(--color-sidebar-dark);
}

#dark .menu-icon {
  color: white;
}
