.view-post-main {
  margin-left: auto;
  padding: 3rem;
  background: var(--color-background-light);
  position: relative;
  width: 85%;
  height: 100vh;
}

.view-card {
  position: relative;
  width: 100%;
  .flex-container {
    display: flex;
    color: var(--color-text-light);
    gap: 30px;
    .left-col-view {
      display: flex;
      flex-direction: column;
      .title-header {
        margin-bottom: 20px;
        font-size: 2.4rem;
        color: var(--color-subtitle-light);
      }
      button {
        width: 100%;
      }
      .buttons {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 10px;

        .bottom {
          order: -1;
          gap: 10px;
          display: flex;
          width: 100%;
          justify-content: space-between;
        }
        .top {
          width: 100%;
        }
      }
      img {
        width: 300px;
        height: 350px;
        object-fit: cover;
        border-radius: 10px;
        cursor: pointer;
        //filter: drop-shadow(4px 8px 4px rgba(0, 0, 0, 0.25));
      }
    }
    .right-col-view {
      margin-top: 80px;
      .flex {
        h2 {
          color: var(--color-subtitle-light);
          font-size: 1.6rem;
        }
        h3 {
          margin-bottom: 20px;
        }
        display: flex;
        flex-direction: column;
      }
      .description {
        max-width: 500px;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .view-post-main {
    width: 100%;
  }
}
